# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual environment
venv/
ENV/
env/
.venv/

# PyCharm project files
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables or sensitive config
*.env

# Backup files
*.bak
*.swp
